/**
 * Global Styling for the entire application
 *
 * Created October 26th, 2016
 * @author: ywarezk
 * @version: 1.0
 * @copyright: Nerdeez Ltd
 */

$fa-font-path: "~font-awesome/fonts";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/theme";